<!DOCTYPE html>
<!--Developed By: Milek Agrawal | milekagrawal@gmail.com -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

        <!-- <link rel="stylesheet" href="css/icon-font.css"> -->
        
        <link rel="stylesheet" href="/css/style.css">
        <!--<link rel="shortcut icon" type="image/png" href="/image/logo.ico">-->
        <link rel="shortcut icon" type="image/png" href="http://ieee.daiict.ac.in/ifest18/images/logo.png">
        
        <title>i.OHunt | Online Treasure Hunt!</title>
    </head>
    <body>