<!DOCTYPE html>
<!--Developed By: Milek Agrawal | milekagrawal@gmail.com -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
         integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        
        <link rel="stylesheet" href="/css/que.css">
        <!--<link rel="shortcut icon" type="image/png" href="/image/logo.ico">-->
        <link rel="shortcut icon" type="image/png" href="http://ieee.daiict.ac.in/ifest18/images/logo.png">
        
        <title>i.OHunt | Online Treasure Hunt!</title>
    </head>
    <body>
        <!-- particles.js container --> 
        <div id="particles-js"></div> 

        <div class="header__text-box"> -->
            <h2 class="heading-primary--main">i.OHunt'18</h2>
        </div>

        <div class="row-name">
            <div class="question-name">
                <div class="question__box-name">
                    <p class="question__text-name">
                        <%=teamname%>
                    </p>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="question">
                    <p class="question__text"><%=foundque.id%>. <%= foundque.question %></p>
                </div>
            </div>
            
            <div class="container">
                <section id="sponsor">

                    <ul class="sponsor__grid">
                        <li><img src="http://ieee.daiict.ac.in/ifest18/images/sponsors/1.png"><br>Organiser</li>
                        <li><img src="http://ieee.daiict.ac.in/ifest18/images/sponsors/4.jpg"><br>Education Partner</li>
                        <li><img src="http://ieee.daiict.ac.in/ifest18/images/sponsors/25.jpg"><br>Multiplex Partner</li>
                        <li><img src="http://ieee.daiict.ac.in/ifest18/images/sponsors/28.png"><br>Technical Sponsor</li>
                        <li><img src="http://ieee.daiict.ac.in/ifest18/images/sponsors/27.png"><br>Premium Sponsor</li>
                        <li><img src="http://ieee.daiict.ac.in/ifest18/images/sponsors/26.png"><br>Premium Sponsor</li>
                    </ul>
                </section>
            </div>
            <div class="facebook-icon">
                    <a href="https://www.facebook.com/ifestdaiict/" target="_blank"><i class="fab fa-facebook"></i></a>
            </div>

        <script type="text/javascript" src="/javascript/particles.js"></script> <!-- stats.js lib -->
        <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
        <script type="text/javascript" src="/javascript/que.js"></script>
    </body>
</html>
