<%include ./partials/header%>
        <header class="header">
            <!--////////////////////////////-->
            <!-- particles.js container --> 
            <div id="particles-js"></div> 

            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main">i.OHunt</span>
                    <span class="heading-primary--sub">The instant they say something you don't expect or already know, you 
                    should drop into detective mode</span>
                    <span class="heading-primary--sub link"><a href="/iohunt18/user/signup">Register Now!</a></span>
                    <span class="heading-primary--sub link"><a href="/iohunt18/user/login">Login Here!</a></span>
                </h1>
            </div>
        </header>
        <main>
            <section class="section-about">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        i.OHunt Rules
                    </h2>
                </div>
                <ol class="row">
                    <li class="heading-tertiary u-margin-bottom-small"> Each team comprises of 2 members.</li>
                    <li class="heading-tertiary u-margin-bottom-small"> Reach the venue 15 minutes prior to the event. Latecomers would lose their time in the game.</li>
                    <li class="heading-tertiary u-margin-bottom-small"> For on spot registration reach the venue atleast 30 minutes
                        prior to the event.</li>
                    <li class="heading-tertiary u-margin-bottom-small"> There will be 15 questions.</li>
                    <li class="heading-tertiary u-margin-bottom-small"> Each question has one answer, and the correct answer
                        will lead you to the next question.</li>
                    <li class="heading-tertiary u-margin-bottom-small"> The answer should be written at the end of the URL. 
                        You have to write all the answers in small letters and answers with more than one word should be
                         written without any space.
                        <p class="paragraph">
                            Eg:- suppose your answer to question no. 3 is harry potter.<br>
                            Then you should use https://iohunt.com/3/harrypotter to go
                            to next question.
                        </p>
                    </li>
                    <li class="heading-tertiary u-margin-bottom-small"> There will be three prizes for the winner and the first and second runner-ups.
                         The positions will be decided solely on the basis of individual timings.</li>
                    
                    <li class="heading-tertiary u-margin-bottom-small"> Any team found discussing with other teams will be
                        straight away disqualified.</li>
                    <li class="heading-tertiary u-margin-bottom-small"> There are no restrictions on searching for the questions.
                         You can search on any search engine and take reference from any site of your choice. But you cannot use 
                        your mobile phones for searching the answers.</li>

                    <li class="heading-tertiary u-margin-bottom-small"> Bring pens and papers along with yourself as you might need them during the event.</li>
                    
                    <li class="heading-tertiary u-margin-bottom-small"> You will be eligible for the prize if you have participated in the event at the DA-IICT Lab.</li>
                    <li class="heading-tertiary u-margin-bottom-small"> For any query regarding the event plase call:<p class="paragraph">Ronak Jain : +91 9879593420<br>
                        Hastin Modi : +91 9427809085</p></li>

                    <li class="heading-tertiary u-margin-bottom-small"> If you face any problem during registration please call:<p class="paragraph">Milek Agrawal: +91 9537464102</p></li>
                    
                </ol>
                
            </section>

            <div class="container">
                <section id="sponsor">

                    <ul class="sponsor__grid">
                        <li><img src="http://ieee.daiict.ac.in/ifest18/images/sponsors/1.png"><br>Organiser</li>
                        <li><img src="http://ieee.daiict.ac.in/ifest18/images/sponsors/4.jpg"><br>Education Partner</li>
                        <li><img src="http://ieee.daiict.ac.in/ifest18/images/sponsors/25.jpg"><br>Multiplex Partner</li>
                        <li><img src="http://ieee.daiict.ac.in/ifest18/images/sponsors/28.png"><br>Technical Sponsor</li>
                        <li><img src="http://ieee.daiict.ac.in/ifest18/images/sponsors/27.png"><br>Premium Sponsor</li>
                        <li><img src="http://ieee.daiict.ac.in/ifest18/images/sponsors/26.png"><br>Premium Sponsor</li>
                    </ul>
                </section>
            </div>

        </main>

            <script type="text/javascript" src="/javascript/particles.js"></script> <!-- stats.js lib -->
            <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
            <script type="text/javascript" src="/javascript/iohunt.js"></script>
<%include ./partials/footer%>