*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/* ---- particleJs ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:fixed; width: 100%; height: 100%; background-color: #000000; background-image: url("http://ieee.daiict.ac.in/ifest18/images/rings2.gif"); background-repeat: no-repeat; background-size: 10rem; background-position: 2.3% 5%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
/*////////////////*/
body{
    box-sizing: border-box;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 1.7;
}

html{
    font-size: 62.5%;
}
    .u-center-text{
        text-align: center;
    }
    .u-margin-bottom-big{
        margin-bottom: 8rem;
    }
    .row{
        max-width: 114rem;
        margin: 0 auto;
        padding-top: 3.5rem;
        z-index: 100;
    }
    .question {
        width: 75%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 3px;
        padding: 6rem;
        padding-left: 9rem;
        font-size: 1.6rem;
        position: relative; 
    }
    .question__text{
        font-size: 2rem;
        letter-spacing: 0.2rem;
        font-weight: 300;
        line-height: 1.2;
	white-space: pre-line;
}
.container{
	padding-top: 10%;
	width: 100%;
	position: relative;
	text-align:center;
    margin-top: -10rem;
    padding-bottom: 10rem;
    background:transparent;
    /* border-radius: 3px; */
}
#sponsor{
    text-align:center;
	display: block;
	position: relative;
    padding:0%;
    background: transparent;
    /* border-radius: 3px; */
}
.sponsor__grid{
    margin: 0 auto;
	padding: 0px;
	list-style: none;
	display: block;
	text-align: center;
	width: 75%;
    background-color: #fff;
    border-radius: 3px;
}
.sponsor__grid li{
	width: 300px;
	display: inline-block;
	margin: 30px 20px;
	color: #000;
	font-size: 15px;
    font-weight: 600;
}
.sponsor__grid li img{
	height: 100px;
	max-width: 100%;
}

@media(max-width: 650px){
	.sponsor__grid li{
		width: 60%;
	}
	.sponsor__grid li img{
		height: auto;
		width: 100%;
	}
}
.facebook-icon {
    text-align: center;
    color: #fff;
    transform: skewX(0deg);
    font-size: 4rem;
    cursor: pointer;
    width: 4rem;
    margin: 0 auto;
    margin-top: -8rem;
}
.facebook-icon a{
    color: inherit;
}

.header__text-box{
    margin: 0 auto;
    position: relative;
    padding-top: 3.3rem;
}

.heading-primary--main{
    text-align: center;
    color: #fff;
    font-size: 5rem;
    font-weight: 400;
    display: block;
    letter-spacing: 1rem;
    font-family:'Raleway', sans-serif;
    z-index: 9999;
}

.row-name{
    max-width: 70rem;
    margin: 0 auto;
    padding-top: 1rem;
    background-color: #fff;
    z-index: 100;
}
.question-name{
    width: 75%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    padding: 1.8rem;
    /* padding-left: 9rem; */
    font-size: 1.6rem;
    position: relative;
}

.question__box-name {
transform: skewX(0deg);
}
.question__text-name{
    font-size: 2.1rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
}
