@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translateX(0); } }
  
@keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translateX(0); } }

@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translateY(0); } }

@keyframes pulsate {
  0% {
    transform: scale(1);
    }
  50% {
    transform: scale(1.05);
     }
  100% {
    transform: scale(1);
    } 
}
@keyframes fadeOut {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    visibility: hidden;
    } 
 } 

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    box-sizing: inherit;
}
body{
    padding: 3rem;
    box-sizing: border-box;
}
@media (max-width: 56.25em) {
    body {
      padding: 0; } }
      
body{
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
}
html{
    font-size: 62.5%;
}
@media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
@media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
@media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.heading-primary{
    color: #fff;
    /* backface-visibility: hidden; */
    margin: 6rem;
    margin-top: 8.5rem;
}
.heading-primary--main{
    font-size: 8rem;
    font-weight: 300;
    display: block;
    letter-spacing: 1rem;
    font-family:'Raleway', sans-serif;
    animation: moveInLeft 1s ease-out;
}
@media (max-width: 37.5em) {
    .heading-primary--main {
        font-size: 7rem; 
    }
}
        
.heading-primary--sub{
    font-size: 2rem;
    display: block;
    font-weight: 400;
    letter-spacing: 0.6rem;
    /*text-transform: uppercase;*/
    animation: moveInRight 1s ease-out;
    font-family:'Lato', sans-serif;
}
@media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.4rem;
        font-weight: 300;          
} }

.heading-secondary{
    font-size: 4.7rem;
    /*text-transform: uppercase;*/
    display: inline-block;
    font-weight: 300;
    letter-spacing: 0.8rem;

    /*background-image: linear-gradient(to right,#6f7072,#545556);*/
    /*-webkit-background-clip: text;*/
    color: #000;
    animation: moveInBottom 0.5s ease-out;
    transition: all 0.2s;
}
 @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 4.2rem;
      font-weight: 400;} }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3.5rem;
      font-weight: 400;} }
      
.heading-secondary:hover{
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.heading-tertiary{
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    font-family: "lato",sans-serif;
    color:#373738;
    /* text-transform: uppercase; */
}
  @media (max-width: 37.5em) {
    .heading-tertiary {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }}
.paragraph{
    font-family: "lato",sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    font-style: italic;
    margin-top: 1rem;
}
.paragraph:not(:last-child){
    margin-bottom: 3rem;
}
.u-center-text{
    text-align: center !important;
}
.u-margin-bottom-big{
    margin-bottom: 6rem !important;
}
.u-margin-bottom-medium{
    margin-bottom: 4rem !important;
}
.u-margin-bottom-small{
    margin-bottom: 1.5rem !important;
}
.header{
    height: 85vh;
    /*background-image: linear-gradient(to right bottom, rgba(20, 26, 33, 0.88), rgba(41, 50, 60, 0.88));*/
    background-color: rgba(20, 26, 33, 0.88);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 50% 70vh, 0 85vh);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 50% 70vh, 0 85vh);
    position: relative;
}
@media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 50% 70vh,0 80vh);
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 50% 70vh,0 80vh); } }
      
.header__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}
.header__logo{
    height: 10rem;
}
.header__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.section-about{
    background-color: #f7f7f7;
    padding: 12rem 6rem;
    margin-top: -15vh;
}
.row{
    max-width: 114rem;
    margin: 0 auto;
}
.row:not(:last-child){
    margin-bottom: 8rem;
}


/*.section-login {*/
/*    padding: 15rem 0;*/
    /*position:relative;*/
/*    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)); }*/

.login {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 50%, transparent 50%), url(/image/login_img.jpg);
    /*background-image: url(/image/login.jpg);*/
    background-size: 100%;
    background-position: bottom left;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
      
.login__form {
    width: 50%;
    padding: 6rem; }


.form{
    width: 59rem;
    padding: 6rem;    
    margin: 0 auto;
    min-width: 35rem;
}
@media (max-width: 56.25em) {
    .form{
        width: 54rem;
        padding: 4rem;    
        margin: 0 auto;
    }   
}
@media (max-width: 37.5em) {
    .form{
        max-width: 87vw;
        padding: 4rem;    
        margin: 0 auto;
    }   
}
.form__group:not(:last-child) {
    margin-bottom: 2rem; 
}
    
.form__input {
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    padding: 1.4rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 95%;
    display: block;
    transition: all 0.3s; 
}

.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(41, 50, 60); 
}

.form__label {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 2rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    display: block;
    transition: all 0.3s; 
}
    

.btn, .btn:link, .btn:visited {
text-decoration: none;
text-transform: uppercase;
padding: 1.5rem 4rem;
display: inline-block;
border-radius: 10rem;
transition: all 0.2s;
position: relative;
font-size: 1.6rem;
border: none;
cursor: pointer; }

.btn::after {
content: "";
width: 100%;
height: 100%;
display: inline-block;
position: absolute;
top: 0;
left: 0;
border-radius: 10rem;
z-index: -1;
transition: all 0.4s; }

.btn--green {
background-color: #153278;
color: #fff; }
.btn--green::after {
    background-color: #153278; }

.btn:hover {
transform: translateY(-3px);
box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
/*box-shadow: x-spread y-spread blur color$opacity*/ }
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
outline: none;
transform: translateY(-0.1rem);
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }


/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #000000; background-image: url("http://ieee.daiict.ac.in/ifest18/images/rings2.gif"); background-repeat: no-repeat; background-size: 12rem; background-position: 2.5% 7%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
/*////////////////*/

@media (max-width: 56.25em) {
#particles-js{
    background-size: 12rem; 
    background-position: 2.5% 7%;
}}

@media (max-width: 37.5em) {
#particles-js{
    background-size: 12rem; 
    background-position: 50% 7%;
}}
.link{
    font-size: 2.8rem;
    font-weight: 400;
    margin-top: 2.7rem;
    text-transform: uppercase;
    animation:pulsate 1.3s infinite;
    transition: all 0.2s;
    color:#fff;
}
.link a{
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color:#fff;
    transition: all 0.2s;
}
.link a:hover{
    color: #4286f4;
}
.link a:focus{
    outline: none;
    color:#fff;
}

.cart__page{
    background-color: #f7f7f7;
    padding-top: 7rem;
    padding-bottom: 5rem;
    min-height: 95vh; 
}
.profile{
    padding: 7rem 6rem 5rem 6rem;
}
@media (max-width: 56.25em) {
    .cart__page{
        min-height: 100vh; 
    }
}


.heading-form {
    font-size: 4.2rem;
    /*text-transform: uppercase;*/
    color: rgba(41, 50, 60, 0.88);
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
}
    

@media (max-width: 56.25em) {
    .heading-form {
    font-size: 4.rem;
    padding-top: 10rem;
        
    }
}
@media (max-width: 37.5em) {
    .heading-form {
    font-size: 3.5rem;
    font-weight: 600;
    padding-top: 7rem;
        
    }
}
    
.btn-remove,.btn-remove:link,.btn-remove:visited{
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer; 
    margin: 0.5rem 1rem 0.2rem 1rem;
}

.btn-remove:hover{
    transform: translateY(-0.5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.btn-remove:active, .btn-remove:focus{
    outline: none;
    transform: translateY(0.5px);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.07);
}

.remove{
    background-color: #42c2f4;
    color: #fff;
}

.error__message{
    /*background-color: #fff;*/
    /*min-height: 43vh;*/
    max-width: 60rem;
    margin: 4rem auto -3rem auto;
    border-radius: 0.3rem;
    /*height: 4rem;*/
    padding:1.2rem;
    font-size: 2rem;
    font-weight:400;
    /* text-transform: uppercase; */
    text-align: center;
    /*border:1.2px solid rgb(255, 22, 22);*/
    /* animation: fadeOut 3s; */
}
.red{
    background-color: rgba(255, 22, 22, 0.3);
    /* border:1.2px solid rgb(255, 22, 22); */
    /* animation: fadeOut 3s; */
}

.green{
    background-color: rgba(22, 226, 90, 0.3);
    /* border:1.2px solid rgb(22, 226, 90); */
    /* animation: fadeOut 3s; */
}
.btn-rt{
    float: right;
}

.btn-lf{
    padding-top: 0rem;
    margin-top: -3rem;
}

.profile-text{
    font-size: 3.6rem;
}
 @media (max-width: 56.25em) {
    .profile-text {
      font-size: 3.9rem;
      font-weight: 400;} }
  @media (max-width: 37.5em) {
    .profile-text {
      font-size: 3.5rem;
      font-weight: 400;} }

.container{
	/* padding-top: 10%; */
	width: 100%;
	position: relative;
	text-align:center;
    margin-top: -10rem;
    padding-bottom: 10rem;
    background-color: #f7f7f7;
}
#sponsor{
    text-align:center;
	display: block;
	position: relative;
    padding:0%;
    background-color: #f7f7f7;
}
.sponsor__grid{
    margin: 0 auto;
	padding: 0px;
	list-style: none;
	display: block;
	text-align: center;
	width: 80%;
	background-color: #fff;
	
}
.sponsor__grid li{
	width: 300px;
	display: inline-block;
	margin: 30px 20px;
	color: #000;
	font-size: 15px;
    font-weight: 600;
}
.sponsor__grid li img{
	height: 100px;
	max-width: 100%;
}

@media(max-width: 650px){
	.sponsor__grid li{
		width: 60%;
	}
	.sponsor__grid li img{
		height: auto;
		width: 100%;
	}
}
