*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #333;
}
.container{
    max-width: 80rem;
    margin: 0 auto;
}
.error__img{
    width: 100%;
    padding-top: 7rem;
}
.error__text{
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding-top: 3rem;
    font-weight: 300;
    letter-spacing: 0.7rem;
}