<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="http://ieee.daiict.ac.in/ifest18/images/logo.png">
        <title>i.OHunt | Online Treasure Hunt!</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
        <link rel="stylesheet" href="/css/error.css">
    </head>
    <body>
        <div class="container">
            <img src="error.gif" alt="ERROR 404" class="error__img">
            <h2 class="error__text">Go Back and try again</h2>
        </div>
    </body>
</html>