<%include ../partials/header%>

    <div class="cart__page">
        <section class="section-login" id="section-login">
            <div class="u-center-text u-margin-bottom-small">
                <h2 class="heading-form">
                    Sign In
                </h2>    
                <%if(error && error.length>0){%>    
                    <div class="error__message red">
                        <%=error%>    
                    </div>
                <%}%>
                <%if(success && success.length>0){%>    
                    <div class="error__message green">
                        <%=success%>    
                    </div>
                <%}%>

            </div>
            <form method="post" action="/iohunt18/user/login" class="form">
              <div class="form__group">
                <label class="form__label">Team Name</label>
                <input type="text" class="form__input" name="username" placeholder="Team Name" required>
              </div>
              <div class="form__group">
                <label class="form__label">Password</label>
                <input type="password" class="form__input" name="password" placeholder="Password" required minlength="8" title="minimum 8 characters">
              </div>
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
              <button type="submit" class="remove btn-remove">Submit</button>
            </form>
            <div class="form btn-lf">
                <a href="/iohunt18">
                    <button class="remove btn-remove">Home</button>
                </a>
            </div>
        </section>
    </div>
<%include ../partials/footer%>