<%include ../partials/header%>

    <div class="cart__page profile">
        <section class="section-login" id="section-login">
            <div class="u-center-text u-margin-bottom-small">
                <h2 class="heading-form u-margin-bottom-big profile-text">
                    You have successfully registered for i.OHunt'18
                </h2>
                <div>
                    <h2 class="heading-secondary profile-text u-margin-bottom-small">
                        Event Description
                    </h2>
                    <div class="heading-tertiary u-margin-bottom-medium">
                        Uncover the mysteries behind questions, with Google being your sole guide 
                        for discovering the answers. Answer 15 mind-bending questions and you have a chance 
                        to win prizes worth Rs.6000.
                    </div>
                        
                    <h2 class="heading-secondary profile-text u-margin-bottom-small">
                        Venue & Timing
                    </h2>
                    <div class="heading-tertiary u-margin-bottom-medium">
                        Venue : Lab 004, Lab 005 and Lab 007<br>
                        Time : 07:00 P.M.<br>
                        Date : 3rd October 2018
                    </div>
                    
                    <h2 class="heading-secondary profile-text u-margin-bottom-small">
                        Contact Details
                    </h2>
                    <div class="heading-tertiary u-margin-bottom-medium">
                        Ronak Jain : +91 9879593420<br>
                        Hastin Modi : +91 9427809085
                    </div>
                </div>
                <a href="/iohunt18/user/logout">
                    <button class="remove btn-remove">Logout</button>
                </a>
            </div>
        </section>
    </div>
<%include ../partials/footer%>