<%include ../partials/header%>
<!--//////////////-->
    <div class="cart__page">
        <section class="section-signup" id="section-signup">
            <div class="u-center-text u-margin-bottom-small">
                <h2 class="heading-form">
                    i.OHunt Registration
                </h2>
                <%if(error && error.length>0){%>    
                    <div class="error__message red">
                        <%=error%>    
                    </div>
                <%}%>
                <%if(success && success.length>0){%>    
                    <div class="error__message green">
                        <%=success%>    
                    </div>
                <%}%>

            </div>

            <form method="post" action="/iohunt18/user/signup" class="form">
               <div class="form__group">
                <label class="form__label">Team Name</label>
                <input type="text" class="form__input" placeholder="Team Name" name="username" required>
              </div>
              <div class="form__group">
                <label class="form__label">Player 1</label>
                <input type="text" class="form__input" placeholder="Player 1" name="p1" required>
              </div>
              <div class="form__group">
                <label class="form__label">Player 2</label>
                <input type="text" class="form__input" placeholder="Player 2" name="p2" required>
              </div>
               <div class="form__group">
                <label class="form__label">Email</label>
                <input type="email" class="form__input" placeholder="Email" name="email" required>
              </div>
              <div class="form__group">
                <label class="form__label">Password</label>
                <input type="password" class="form__input" placeholder="Password" name="password" required minlength="8" title="minimum 8 characters">
              </div>
              <div class="form__group">
                <label class="form__label">Confirm Password</label>
                <input type="password" class="form__input" placeholder="Password" name="password2" required minlength="8" title="minimum 8 characters">
              </div>
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                  <button type="submit" class="remove btn-remove">Submit</button>
            </form>
            <div class="form btn-lf">
                <a href="/iohunt18">
                    <button class="remove btn-remove">Home</button>
                </a>
            </div>
                
        </section>
    </div>
<!--////////////////////////-->
<%include ../partials/footer%>