<%include ../partials/header%>

    <div class="cart__page profile">
        <section class="section-login" id="section-login">
            <div class="u-center-text u-margin-bottom-small">
                <h2 class="heading-form u-margin-bottom-big profile-text">
                    i.OHunt'18 will be starting soon ...
                </h2>
            </div>
            <center>
                <video width="800" controls>
                    <source src="/image/endevour.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>    
            </center>  
        </section>
    </div>
<%include ../partials/footer%>